.learning div:first-child > h2 {
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--dBlue);
}
.life_cta {
  position: relative;
  /* height:300px; */
  padding: 100px 0px;
  width: 100%;
  background: rgb(160 208 255 / 10%);
}
.life_cta img {
  width: 30%;
  object-fit: cover;
  position: absolute;
  bottom: 0px;
}
